	<header class="header">

		<div class="center">

			<div class="header__box">

				<a href="/" class="header__logo" title="{{ site }}">

					<img src="/img/logo.svg" alt="{{ site }}" loading="lazy" width="209" height="42">

				</a>

				<div class="header__menu">

{% include "template/menu.html" %}

				</div>

				<div class="header__btn">

					<a href="/" class="btn btn--outline">
						Unlock Wallet
					</a>

				</div>

			</div>

			<div class="visible-md">

				<button class="button btn-menu-toggle" type="button">
					Menu
				</button>

			</div>

		</div>

	</header>