		<nav class="menu">

			<ul class="menu__list">

				<li class="menu__item">

					<a class="menu__link" href="/demo">Live Demo</a>

				</li>

				<li class="menu__item">

					<a class="menu__link" href="{% if urlPage !== 'main' %}/main{% endif %}#about">About</a>

				</li>

				<li class="menu__item">

					<a class="menu__link" href="{% if urlPage !== 'main' %}/main{% endif %}#how-works">How it Works</a>

				</li>

				<li class="menu__item">

					<a class="menu__link" href="{% if urlPage !== 'main' %}/main{% endif %}#prices">Prices</a>

				</li>

				<li class="menu__item">

					<a class="menu__link" href="{% if urlPage !== 'main' %}/main{% endif %}#team">Team</a>

				</li>

			</ul>

		</nav>