		<nav class="menu">

			<ul class="menu__list">

				<li class="menu__item">

					<a class="menu__link" href="/">Live Demo </a>

				</li>

				<li class="menu__item">

					<a class="menu__link" href="/">About</a>

				</li>

				<li class="menu__item">

					<a class="menu__link" href="/">How it Works</a>

				</li>

				<li class="menu__item">

					<a class="menu__link" href="/">Prices</a>

				</li>

				<li class="menu__item">

					<a class="menu__link" href="/">Team</a>

				</li>

			</ul>

		</nav>