	<div class="modal">

		<div class="modal__box">

			<div class="modal__item modal__item--done modal-done">

				<svg width="72" height="72" viewBox="0 0 72 72">
					<path d="M36 3a33 33 0 100 66 33 33 0 000-66zm0 60a27 27 0 110-54 27 27 0 010 54zm7.97-35.12l-10.6 10.6-4.25-4.24a3 3 0 10-4.24 4.25l6.36 6.36a3 3 0 004.24 0l12.73-12.73a3 3 0 10-4.24-4.24z" fill="#04B94A" stroke="#fff" stroke-width="3"/>
				</svg>

				<p>
					Thank you for your request! <br>We will contact you.
				</p>

				<button type="button" class="modal__close modal__close-btn button" aria-label="Close modal">
					<svg width="34" height="34" viewBox="0 0 34 34">
						<path d="M22.06 22.06c-.47.47-.89.8-1.36.34l-3.73-3.73-3.73 3.73c-.47.47-.9.13-1.36-.34-.47-.47-.8-.89-.34-1.36l3.73-3.73-3.73-3.73c-.47-.47-.13-.9.34-1.36.47-.47.89-.8 1.36-.34l3.73 3.73 3.73-3.73c.47-.47.9-.13 1.36.34.47.47.81.89.34 1.36l-3.73 3.73 3.73 3.73c.47.47.13.9-.34 1.36z"/>
					</svg>
				</button>

			</div>

			<div class="modal__item modal__item--subscribe modal-done">

				<p id="modal-subscribe__result"></p>

				<button type="button" class="modal__close modal__close-btn button" aria-label="Close modal">
					<svg width="34" height="34" viewBox="0 0 34 34">
						<path d="M22.06 22.06c-.47.47-.89.8-1.36.34l-3.73-3.73-3.73 3.73c-.47.47-.9.13-1.36-.34-.47-.47-.8-.89-.34-1.36l3.73-3.73-3.73-3.73c-.47-.47-.13-.9.34-1.36.47-.47.89-.8 1.36-.34l3.73 3.73 3.73-3.73c.47-.47.9-.13 1.36.34.47.47.81.89.34 1.36l-3.73 3.73 3.73 3.73c.47.47.13.9-.34 1.36z"/>
					</svg>
				</button>

			</div>

			<div class="modal__item modal__item--file-details file-details">

				<h3 class="file-details__head">
					File Details
				</h3>

				<div class="file-details__table">

					<table>

						<tbody>

							<tr>

								<th>

									<div class="file-details__table-tooltip">

										<div class="file-details__table-key">
											File Id:
										</div>

										<p class="tooltip">
											<span class="tooltip__inner">
												File Creation Transaction Hash <small>(Rinkbey testnet)</small>
											</span>
										</p>

									</div>

								</th>
								<td>

									<p class="file-details__table-value">
										45580a394b684eeb16aee125f950634
									</p>

								</td>

							</tr>

							<tr>

								<th>

									<div class="file-details__table-tooltip">

										<div class="file-details__table-key">
											Name:
										</div>

										<p class="tooltip">
											<span class="tooltip__inner">
												File Creation Transaction Hash <small>(Rinkbey testnet)</small>
											</span>
										</p>

									</div>

								</th>
								<td>

									<p class="file-details__table-value">
										aabbbname.txt
									</p>

								</td>

							</tr>

							<tr>

								<th>

									<div class="file-details__table-tooltip">

										<div class="file-details__table-key">
											Size:
										</div>

										<p class="tooltip">
											<span class="tooltip__inner">
												File Creation Transaction Hash <small>(Rinkbey testnet)</small>
											</span>
										</p>

									</div>

								</th>
								<td>

									<p class="file-details__table-value">
										8,224 Kb
									</p>

								</td>

							</tr>

							<tr>

								<th>

									<div class="file-details__table-tooltip">

										<div class="file-details__table-key">
											Upload Time:
										</div>

										<p class="tooltip">
											<span class="tooltip__inner">
												File Creation Transaction Hash <small>(Rinkbey testnet)</small>
											</span>
										</p>

									</div>

								</th>
								<td>

									<p class="file-details__table-value">
										11:52:53 11/20/2020
									</p>

								</td>

							</tr>

							<tr>

								<th>

									<div class="file-details__table-tooltip">

										<div class="file-details__table-key">
											Cost* per month:
										</div>

										<p class="tooltip">
											<span class="tooltip__inner">
												File Creation Transaction Hash <small>(Rinkbey testnet)</small>
											</span>
										</p>

									</div>

								</th>
								<td>

									<p class="file-details__table-value">
										$ 0.002452
									</p>

								</td>

							</tr>

							<tr>

								<th>

									<div class="file-details__table-tooltip">

										<div class="file-details__table-key">
											File owner:
										</div>

										<p class="tooltip">
											<span class="tooltip__inner">
												File Creation Transaction Hash <small>(Rinkbey testnet)</small>
											</span>
										</p>

									</div>

								</th>
								<td>

									<p class="file-details__table-value">
										<a download="aabbbname.txt" href="/favicon.png">
											0x7e760d6A6d63304A46289DdBdB9248d4863b3Ba7
										</a>
									</p>

								</td>

							</tr>

							<tr>

								<th></th>
								<td>

									<p class="file-details__table-value">
										<a download="aabbbname.txt" href="/favicon.png" class="text-ellipsis">
											0xa8c648bbf477c7a0e6598b66741c4df3b4b1f51a03c337083abfdd28141dc95c1c4df3b4b1f51a03c33
										</a>
									</p>

									<p class="file-details__table-value">
										File Creation Transaction Hash <small>(Rinkbey testnet)</small>
									</p>

								</td>

							</tr>

						</tbody>

					</table>

				</div>

				<hr>

				<div class="file-details__download">

					<a class="btn btn--green" download="aabbbname.txt" href="/favicon.png">
						Download
					</a>

				</div>

				<button type="button" class="file-details__btn-close modal__close modal__close-btn button" aria-label="Close modal">
					<svg width="24" height="24" viewBox="0 0 24 24">
						<path d="M18.38 6.77l-1.33-1.32L12 10.48 6.97 5.45 5.65 6.77l5.04 5.04-5.04 5.04 1.32 1.32 5.04-5.03 5.04 5.03 1.32-1.32-5.03-5.04 5.04-5.04z"/>
					</svg>
				</button>

			</div>

		</div>

	</div>