{% set title = "Cookie Policy" %}

{% set description = "" %}

{% set urlPage = "cookies-policy" %}

{% set state = "cookies-policy" %}

{% extends "template/base.html" %}

{% block content %}

	<article class="center article">

		<h1>
			{{ title }}
		</h1>

		<time datetime="2020-04-04">
			Date of this Policy: 18 June 2018
		</time>

		<h2>
			What Are ‘Cookies’?
		</h2>

		<p>
			Cookies are small files placed on your computer or device by a website or mobile application. The cookie does contain a unique ID assigned to your device, but does not contain personal information such as your name or email address. The cookie helps to navigate from page to page on a website, to provide secure connections and to recall your preferences from a previous visit, when you return.
		</p>

		<p>
			You have the right to block and remove cookies but doing so may interfere with your browsing experience or mean that some features and services cannot be provided to you.
		</p>

		<h2>
			What do we use Cookies for?
		</h2>

		<p>
			We use cookies to analyse the flow of information; customize the services, content and advertising we offer; measure promotional effectiveness; and promote trust and safety. Some of our services can only be provided using cookies.
		</p>

		<p>
			We use both first party cookies (ColdStack cookies) and third party cookies, which are cookies provided by other people’s websites.  For example, a third party content provider might provide a cookie when you access content hosted on their site.  We do not have access to those third party cookies and their providers will have their own cookie and privacy policies, which we encourage you to read.
		</p>

		<h2>
			Different Types of Cookies
		</h2>

		<p>
			Cookies can be grouped into the following types:
		</p>

		<h3>
			1. Strictly Necessary Cookies
		</h3>

		<p>
			Some cookies are essential for the operation of the Site. For example, cookies that allow us to identify registered users and ensure they can access the website. If you opt to disable these cookies, you may not be able to access all of the content of the website.
		</p>

		<h3>
			2. Performance Cookies
		</h3>

		<p>
			Performance cookies are used to analyse how people use the Site and to monitor Site performance. Analysing use allows us to improve the Site by identifying popular content and monitoring helps us to spot and fix problems quickly.
		</p>

		<h3>
			3. Functionality Cookies
		</h3>

		<p>
			Functionality cookies are used to allow us to remember your preferences for helpful features, such as providing the Site in a different language.
		</p>

		<h3>
			4. Marketing Cookies
		</h3>

		<p>
			Targeting cookies are used to help in providing users with adverts that are relevant to them by collecting information about their browsing habits and Site usage.  They can also be used to allow third parties to display relevant and personalised ads to users through their networks, to measure the effectiveness of advertising campaigns and to limit the number of times you see the same advert.
		</p>

		<h3>
			5. Social Media Cookies
		</h3>

		<p>
			Social media cookies allow users to interact more easily with social media, such as Facebook and Instagram. We do not control social media cookies and they do not allow us to gain access to your social media accounts. Please refer to the relevant social media platform’s privacy policies for information about their cookies.
		</p>

		<h2>
			Google Analytics
		</h2>

		<p>
			Google Analytics is a popular cookie-based web analysis service provided by Google Inc, which we use to monitor how visitors use our Site, to compile usage reports and to help us improve the Site.
		</p>

		<p>
			Please see Google’s privacy policy here for further information on the data Google collects and how it is processed.
		</p>

		<p>
			If you prefer to not have data reported by Google Analytics, you can install the Google Analytics Opt-Out Browser Add-On, by following the instructions here.
		</p>

		<p>
			You may also opt out of Google's use of tracking technologies by visiting the Google advertising opt-out page here.
		</p>

		<h2>
			Getting More information
		</h2>

		<p>
			You can find out more about cookies at: <a href="https://www.allaboutcookies.org/" target="_blank" rel="noopener">www.allaboutcookies.org</a>
		</p>

		<p>
			For more information on opting out of third parties’ use of cookies, please visit: Your Online Choices.
		</p>

		<h2>
			CHANGES TO THIS NOTICE
		</h2>

		<p>
			We may change this Notice at our discretion and in the event we do so we will make the revised Notice available via our websites.
		</p>

	</article>

{% endblock %}