{% set title = "Try The Cheapest Cloud Space Ever " %}

{% set description = "Uber for Clouds: first to market Aggregator of Decentralized Data Storages such as Filecoin." %}

{% set urlPage = "" %}

{% set state = "main" %}

{% set preloadImage = [
	{
		media: "(min-width: 1200px)",
		img : "/img/billboard/img--1380x623.webp"
	},
	{
		media: "(max-width: 360px)",
		img : "/img/billboard/img--640x480.webp"
	}
] %}

{% extends "template/base.html" %}

{% block content %}

{% include "main/cloud-space.html" %}
{% include "main/subscribe.html" %}

{% endblock %}