.decentralized {

	text-align: center;
	margin: 132px 0 96px;

	&__logo {

		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		margin: 36px -36px;

		img {

			margin: 12px 36px;

		}

	}

	p {

		font-size: 24px;
		font-weight: 300;
		line-height: 40px;
		width: 680px;
		max-width: 100%;
		margin: auto;

	}

}