
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/ubuntu-v15-latin-400.woff2') format('woff2'),
       url('/fonts/ubuntu-v15-latin-400.woff') format('woff');
}

@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('/fonts/ubuntu-v15-latin-500.woff2') format('woff2'),
       url('/fonts/ubuntu-v15-latin-500.woff') format('woff');
}

@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/ubuntu-v15-latin-700.woff2') format('woff2'),
       url('/fonts/ubuntu-v15-latin-700.woff') format('woff');
}
