.footer {

	flex-shrink: 0;
	margin: 52px 0;

	&__box {

		display: flex;
		justify-content: space-between;

	}

	&__left {

		order: 1;
		width: 256px;
		flex-shrink: 0;
		margin-right: 32px;

	}

	&__center {

		flex-grow: 1;
		display: flex;
		justify-content: center;
		order: 2;

	}

	&__right {

		flex-shrink: 0;
		width: 268px;
		order: 3;

		p {

			color: var(--text);
			margin: 12px 0 20px;

		}

	}

	.copyright {

		color: var(--text);
		font-size: 14px;
		line-height: 24px;
		margin: 20px 0;

	}

	&__menu {

		display: flex;
		flex-wrap: wrap;
		width: 346px;

		li {

			margin: 12px 0;
			width: 50%;

		}

	}

}