.header {

	position: relative;
	z-index: 9;
	padding: 36px 0;

	@media ($mdWidth) {

		padding: 24px 0;

	}

	.center {

		width: 1440px;

	}

	&__box {

		display: flex;
		align-items: center;
		position: relative;

		@media ($mdWidth) {

			justify-content: center;

		}

	}

	&__logo {

		position: relative;
		flex-shrink: 0;

	}

	&__menu {

		display: flex;
		align-items: center;
		justify-content: center;
		flex-grow: 1;

		@media ($mdWidth) {

			display: none;

		}

	}

	&__btn {

		margin-left: 64px;
		flex-shrink: 0;

		@media ($desktop) {

			svg {

				display: none;

			}

		}

		@media ($mdWidth) {

			margin: 0;
			position: absolute;
			top: 0;
			right: 0;

			.btn {

				width: 40px;
				height: 40px;
				border-radius: 6px;
				font-size: 0;
				padding: 0;
				color: transparent;

			}

			svg {

				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				margin: auto;
				fill: var(--blue);

			}

		}

	}

}

@media ($desktop) {

	.btn-menu-toggle {

		display: none;

	}

}

@media ($mdWidth) {

	.btn-menu-toggle {

		width: 40px;
		height: 40px;
		position: absolute;
		top: 0;
		left: 0;
		border: 1px solid var(--blue);
		border-radius: 6px;

		&__top,
		&__center,
		&__bottom {

			position: absolute;
			width: 20px;
			height: 2px;
			top: 12px;
			left: 10px;
			border-radius: 2px;
			background-color: var(--blue);

		}

		&__center {

			width: 16px;
			margin-top: 6px;

		}

		&__bottom {

			width: 10px;
			margin-top: 12px;

		}

		.menu-show & {
/*
			&::before {

				transform: rotate(45deg) translate3d(0, 0px, 0);

			}

			&::after {

				transform: rotate(-45deg) translate3d(0, 0px, 0);

			} */

		}

	}

	.menu-show {

		.main {

			display: none;

		}

		.header {

			flex-grow: 1;
			border-bottom: 0;

		}

		.header__menu {

			display: block !important;

		}

		.footer {

			background-color: transparent;

		}

	}

}