.header {

	position: relative;
	z-index: 9;
	width: 1440px;
	max-width: 100%;
	display: flex;
	align-items: center;
	position: relative;
	padding: 36px;
	margin: 0 auto;

	@media ($mdWidth) {

		padding: 24px;
		flex-wrap: wrap;

		.menu-show & {

			align-items: baseline;

		}

	}

	@media ($smWidth) {

		padding: 20px;

	}

	&__logo {

		position: relative;
		flex-shrink: 0;
		transition: none;

		@media ($mdWidth) {

			display: flex;
			flex-grow: 1;
			justify-content: center;

			.menu-show & {

				display: none;

			}
		}

		@media ($smWidth) {

			img {

				width: 170px;
				height: 34px;

			}

			.in-logged & {

				justify-content: flex-end;

			}

		}

	}

	&__menu {

		display: flex;
		align-items: center;
		justify-content: center;
		flex-grow: 1;

		@media ($mdWidth) {

			display: none;
			align-items: center;
			width: 100%;

		}

	}

	&__btn {

		flex-shrink: 0;

		.btn {

			transition: none;

			svg {

				display: none;

			}

		}

		@media ($mdWidth) {

			.menu-show & {

				order: 10;
				width: 100%;
				display: flex;
				justify-content: center;

			}

			.btn {

				height: 40px;
				line-height: 40px;
				padding: 0 16px;

				svg {

					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					margin: auto;
					fill: var(--blue);

				}

			}

			body:not(.menu-show) & {

				.btn {

					width: 40px;
					height: 40px;
					border-radius: 6px;
					font-size: 0;
					padding: 0;
					color: transparent;

					svg {

						display: block;

					}

				}

			}

		}

		@media ($smWidth) {


		}

	}

	&__wallet {

		@media ($mdWidth) {

			.menu-show & {

				display: none;

			}

		}

		@media ($smWidth) {

			margin-top: 24px;
			width: 100%;
			display: flex;
			justify-content: center;

		}

	}

	&__btn-menu {

		order: -1;
		height: 40px;
		width: 40px;
		flex-shrink: 0;

	}

}

.btn-menu-toggle {


	@media ($smWidth) {

/* 		top: 20px;
left: 20px;
position: absolute;
 */
	}

	@media ($mdWidth) {

		border: 1px solid var(--blue);
		border-radius: 6px;
		position: relative;
		display: block;
		width: 40px;
		height: 40px;

		&__top,
		&__center,
		&__bottom {

			position: absolute;
			width: 16px;
			height: 2px;
			top: 18px;
			left: 10px;
			border-radius: 2px;
			background-color: var(--blue);
			transform: rotate(0deg);
			will-change: transform;
			transition: var(--transitionDefault);

		}

		&__center {

			width: 20px;
			top: 12px;

		}

		&__bottom {

			width: 10px;
			top: 24px;

		}

		.menu-show & {

			border-color: color(var(--blue) a(20%));

			&__top,
			&__center,
			&__bottom {

				transform: rotate(-45deg);
				width: 20px;
				top: 18px;

			}

			&__bottom {

				transform: rotate(-135deg);

			}

		}

	}

}

@media ($mdWidth) {

	.menu-show {

		background-color: #F5F5FC;

		.main,
		.footer__left,
		.footer__center,
		.footer__right-head {

			display: none;

		}

		.header {

			flex-grow: 1;

		}

		.header__menu {

			display: flex !important;

		}

		.footer {

			margin: 0 0 44px;

			&__box {

				border-top: 0;
				padding: 0 0 46px;
				background-repeat: no-repeat;
				background-position: bottom;
				background-image: url(/img/logo-menu.svg);

			}

		}

	}

}