.menu {

	white-space: nowrap;

	&__list {

		display: flex;
		justify-content: center;

		@media ($mdWidth) {

			display: block;

		}

	}

	&__item {

		margin: 0 15px;

		&.is-active {

			color: #9b9ca8;
			pointer-events: none;

		}

	}

	&__link {

		font-size: 15px;
		color: var(--color);
		display: block;

		@media ($desktop) {

			&:hover {

				color: #9b9ca8;

			}

		}

	}

}