.modal {

	flex-grow: 1;
	position: relative;
	-webkit-overflow-scrolling: touch;
	z-index: 10;
	display: none;
	width: 100%;
	justify-content: center;
	align-items: center;
	padding: 40px;

	@media ($smWidth) {

		padding: 20px;

	}

	&__box {

		width: 528px;
		max-width: 100%;
		position: relative;

	}

	&__item {

		position: relative;
		padding: 60px;
		border-radius: 12px;
		background-color: #fff;

		@media ($smWidth) {

			padding: 20px;

		}

	}

	&__close-btn {

		position: absolute;
		top: 24px;
		right: 24px;

		svg {

			fill: #000;

		}

	}

	&__title {

		font-weight: 400;
		margin-bottom: 18px;
		color: #000;

	}

	&__btn-ok {

		width: 100%;
		margin-top: 60px;

	}

	&__logo {

		margin: 24px auto;
		display: flex;
		justify-content: center;
		align-items: center;

	}

}

.modal-show {

	.modal {

		display: flex;

	}

	.wrapper {

		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		overflow: hidden;
		pointer-events: none;

		&::after {

			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			content: '';
			opacity: 0.8;
			z-index: 9;
			background-color: var(--bg);

		}

	}

}