.subscribe {

	&__bg {

		background-color: var(--bg);
		border-radius: 12px;
		padding: 48px;

		@media ($mdWidth) {

			padding: 36px;

		}

	}

	&__wrap {

		position: relative;

	}

	svg {

		position: absolute;
		top: 20px;
		left: 20px;
		fill: var(--text);
		pointer-events: none;

	}

	.input {

		padding-left: 52px;

	}

	.btn {

		position: absolute;
		top: 4px;
		right: 4px;

	}

}