.what-is {

	padding-top: 72px;


	&__box {

		display: flex;
		align-items: center;

	}

	&__list {

		.h3 {

			margin-bottom: 21px;

		}

		li {

			padding-left: 24px;
			margin: 12px 0;

		}

	}

	&__title {

		text-align: center;
		margin: 48px 0;

	}

	&__intro {

		font-size: 24px;
		font-weight: 300;
		line-height: 40px;
		text-align: center;

	}

}