.why {

	background-color: var(--bg);
	padding: 60px 0;
	margin: 96px 0 72px;
	text-align: center;

	&__title {

		margin: 72px 0;

	}

	&__list  {

		display: flex;
		justify-content: center;
		margin-bottom: 72px;

	}

	&__item {

		width: 300px;
		margin: 0 20px;

		.h4 {

			color: var(--blue);
			margin: 24px 0 6px;

		}

		p {

			a {

				color: var(--green);

			}

		}

	}

	&__ico {

		display: flex;
		justify-content: center;
		align-items: center;
		height: 80px;
		width: 80px;
		background-color: #fff;
		border-radius: 50%;
		margin: auto;

		svg {

			fill: var(--blue);

		}

	}

}