{% set title = "Try The Cheapest Cloud Space Ever " %}

{% set description = "Uber for Clouds: first to market Aggregator of Decentralized Data Storages such as Filecoin." %}

{% set logged = true %}

{% set preloadImage = [
	{
		media: "(min-width: 768px)",
		img : "/img/cloud-space/img.svg"
	}
] %}

{% extends "template/base.html" %}

{% block content %}

{% include "main/cloud-space.html" %}
{% include "main/subscribe.html" %}
{% include "main/decentralized.html" %}
{% include "main/about.html" %}
{% include "main/how-works.html" %}
{% include "main/why.html" %}
{% include "main/cases.html" %}
{% include "main/prices.html" %}
{% include "main/road-map.html" %}
{% include "main/team.html" %}
{% include "main/subscribe.html" %}

{% endblock %}