{% set title = "Katalyo Privacy Policy " %}

{% set description = "Uber for Clouds: first to market Aggregator of Decentralized Data Storages such as Filecoin." %}

{% set urlPage = "privacy-policy" %}

{% set state = "privacy-policy" %}

{% extends "template/base.html" %}

{% block content %}

	<article class="center article">

		<h1>
			{{ title }}
		</h1>

		<time datetime="2020-04-04">
			Effective date: April 04 2020
		</time>

		<p>
			This policy describes Privacy Policy for Katalyo d.o.o. (In this document also referred as "us", "we" or "our") which is meant to help you understand how we collect and process your information to support our products. This applies to all personal information that we collect when you interact with us in any form. This includes information collected through our website, social networking services and through our direct marketing campaigns or other communication channels.
		</p>

		<p>
			This policy describes Privacy Policy for Katalyo d.o.o. (In this document also referred as "us", "we" or "our") which is meant to help you understand how we collect and process your information to support our products. This applies to all personal information that we collect when you interact with us in any form. This includes information collected through our website, social networking services and through our direct marketing campaigns or other communication channels.
		</p>

		<p>
			<b>Who we are</b> <br>
			Katalyo d.o.o. is an Ltd. company operating in European Union.
		</p>

		<p>
			Our address is: <br>
			Katalyo d.o.o.  <br>
			Hecimoviceva ulica 11, zagreb <br>
			10000 Croatia
		</p>

		<p>
			<b>How to contact us</b> <br>
			If you have any privacy related request, questions or privacy concerns contact us via:
		</p>

		<p class="article__email">
			E-mail: <a href="mailto:info@katalyo.com">info@katalyo.com</a>
		</p>

		<p class="mb0">
			We use the information we collect in any of the following ways:
		</p>

		<ul class="mt0">
			<li>
				you have any privacy related request, questions or privacy concerns contact us via:
			</li>
			<li>
				you have any privacy related request, questions or privacy concerns contact us via:
			</li>
			<li>
				you have any privacy related request, questions or privacy concerns contact us via:
			</li>
			<li>
				you have any privacy related request, questions or privacy concerns contact us via:
			</li>
		</ul>

	</article>

{% endblock %}